body{
    background-color: rgb(154,9,9);
    margin: 0;
    align-items: center;
}
.main{
    width: 944px;
    margin: 0 auto;
}
.title{
    align-items: center;
}
.nav{
    background-color: #000;
    height: 161px;
    align-items: center;
    display: flex;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
.menu{
    margin-top: 27px;
    display: flex;
    align-items: center;
}
.menu li{
    margin-left: 37px;
    margin-right: 37px;
}
.imgnav{
    width: 151px;
    height: 112px;
}
.anav{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18px;
}
td{
    text-align: center;
}
.pnav{
    width: 151px;
    align-items: center;
}
.content{
    height: 291px;
    display: flex;
}
.left{
    width: 202px;
    background-color:rgb(125,9,9);
}
.leftmenu{
    color: rgb(233,91,17);
}
.middle{
    width: 587px;
}
.middletext{
    color: white;
    font-size: 18px;
}
.right {
    width: 155px;
    background-color: rgb(230,222,222);
}
.rightTitle{
    margin-top: 0;
    background-color: rgb(189,189,189);
    text-align: center;
    font-size: 18px;
}
.line{
    color: rgb(189,189,189);
    text-align: center;
    font-size: 18px;
    margin-top: 0;
}
.hr {
    width: 50%;
    margin: auto;
}
.righttext{
    font-size: 18px;
    text-decoration: none;
    color:#000;
}
.footer{
    font-size: 20px;
    text-align: center;
    color:white;
    background-color: rgb(233,91,17);
}

