* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
    
.wrapper {
    width: 900px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;       
    margin: 20px;
    /* padding: 20px; */
    font-family: "Proxima Nova", sans-serif;
}
 /* first block with .icon-tab */
.item {
    width: 300px;
    margin: 20px;
    
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1275b9;
    width: 64px;
    height: 64px;
    border-radius: 32px;        /* it is 50% of figure size */
 
    border: 1px solid #1275b9;
    transition: background 0.6s;
    cursor: pointer;
    margin-left: 100px;
}
.logo:hover {
    background: white;
}
.logo:hover path {
    fill: #1275b9
}
path {
    transition: fill  0.6s;
}
h2 {
    text-transform: uppercase;
    display: flex;   
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 10px;
}
.text>p {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    text-align: center;
    margin-top: 20px;
    font-size: 7px;
    opacity: 0.5;
      
}
